aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiohttp-cors==0.7.0
aiosignal==1.3.2
airportsdata==20241001
alembic==1.15.1
annotated-types==0.7.0
anyio==4.3.0
asgiref==3.8.1
astor==0.8.1
attrs==23.2.0
blake3==1.0.4
blinker==1.9.0
cachetools==5.5.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
clickclick==20.10.2
cloudpickle==3.1.1
colorful==0.5.6
compressed-tensors==0.8.1
connexion==2.14.2
contourpy==1.3.1
cycler==0.12.1
DBUtils==3.1.0
depyf==0.18.0
dill==0.3.9
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dj-database-url==2.3.0
Django==5.1.8
django-allauth==65.2.0
django-cors-headers==4.7.0
django-environ==0.12.0
django-ninja==1.3.0
django-tailwind==3.8.0
einops==0.8.0
fastapi==0.110.1
filelock==3.16.1
Flask==2.2.5
flask-cors==5.0.1
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.12.0
gguf==0.10.0
google-api-core==2.24.1
google-auth==2.38.0
googleapis-common-protos==1.66.0
grpcio==1.70.0
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.4
httpx==0.27.0
huggingface-hub==0.27.1
idna==3.10
importlib_metadata==8.6.1
inflection==0.5.1
iniconfig==2.0.0
interegular==0.3.3
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.8.2
joblib==1.4.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.8
lark==1.2.2
lm-format-enforcer==0.10.9
machine==0.0.1
Mako==1.3.9
MarkupSafe==3.0.2
matplotlib==3.10.1
mistral_common==1.5.2
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==2.2.4
nvidia-ml-py==12.570.86
openai==1.60.2
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python-headless==4.11.0.86
outcome==1.3.0.post0
outlines==0.1.11
outlines_core==0.1.26
packaging==24.2
pandas==2.2.3
partial-json-parser==0.2.1.1.post5
pillow==11.1.0
pipenv==2024.4.1
platformdirs==4.3.6
pluggy==1.4.0
prometheus-fastapi-instrumentator==7.0.2
prometheus_client==0.21.1
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
psutil==6.1.1
psycopg2-binary==2.9.10
py-cpuinfo==9.0.0
py-spy==0.4.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycountry==24.6.1
pycrypto==2.6.1
pydantic==2.10.6
pydantic_core==2.27.2
PyMySQL==1.1.0
pyparsing==3.2.1
PySocks==1.7.1
pytest==8.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2025.1
PyYAML==6.0.1
pyzmq==26.2.0
ray==2.41.0
referencing==0.34.0
regex==2024.11.6
requests==2.32.3
rpds-py==0.18.0
rsa==4.9
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
selenium==4.19.0
sentencepiece==0.2.0
setuptools==75.8.0
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.39
sqlparse==0.5.3
starlette==0.37.2
swagger-ui-bundle==0.0.9
sympy==1.13.1
threadpoolctl==3.6.0
tiktoken==0.7.0
tokenizers==0.21.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.48.0
trio==0.25.0
trio-websocket==0.11.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uvicorn==0.29.0
uvloop==0.21.0
virtualenv==20.29.1
vllm==0.6.6.post1
watchfiles==1.0.4
webdriver-manager==4.0.1
websockets==14.2
Werkzeug==2.2.2
wrapt==1.17.2
wsproto==1.2.0
yarl==1.18.3
zipp==3.21.0
